{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music_app</title>
    <!-- <link rel="stylesheet" href="/static/css/stylesheet.css"> -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-5.3.8-dist/css/bootstrap.css">
</head>

<body class="d-flex flex-column h-100">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Music_app</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'create_playlist' %}">建立音樂清單</a>
                    <a class="nav-link" href="{% url 'add_songs' %}">歌曲清單</a>
                    <a class="nav-link" href="{% url 'playlist_view' %}">我的音樂清單</a>
                    <!-- <a class="nav-link" href="{% url 'logout' %}">登出</a> -->

                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn">登出</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">© 2025 Music_app. All rights reserved.</span>
        </div>
    </footer>

    <script src="/static/plugins/bootstrap-5.3.8-dist/js/bootstrap.bundle.js"></script>
</body>

</html>