{% extends "base.html" %}



{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4" style="max-width: 50vw;">
        <div class="d-flex justify-content-center">
            <h1>打造你的專屬音樂世界</h1>
        </div>
        <p>從最愛的歌曲到每日推薦，隨時隨地掌握你的音樂節奏。立即建立你的個人播放清單，不僅能整理專屬音樂，還可以與好友分享你的收藏，互相發現新歌，讓每一天都有專屬旋律陪伴。無論是在工作、休息或聚會時，你都能享受最貼心的音樂體驗，打造屬於你的音樂世界。
        </p>


        {% if not user.is_authenticated %}
        <div class="d-flex justify-content-center gap-3">
            <a class="btn btn-primary" href="{% url 'register' %}">立即註冊</a>
            <a class="btn btn-outline-primary" href="{% url 'login' %}">登入</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}